<h1> Palmer Penguins </h1>
<hr>
<h3> Analysis: Castillano </h3>

In [1]:
import numpy as np

In [3]:
import pandas as pd

In [4]:
Data = pd.read_csv('Datasets\\penguins.csv')

In [5]:
Data

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
...,...,...,...,...,...,...,...,...
339,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
340,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009
341,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009
342,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009
343,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009

<h1> EXPLORATORY DAAT ANALYTICS(EDA) </h1>

<h1>1. How many Male has Identify in year 2008?</h1>

In [9]:
y_2008 = Data[Data['year'] == 2008]

In [19]:
y_2008[y_2008['sex'] == 'male']

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
51,Adelie,Biscoe,40.1,18.9,188.0,4300.0,male,2008
53,Adelie,Biscoe,42.0,19.5,200.0,4050.0,male,2008
55,Adelie,Biscoe,41.4,18.6,191.0,3700.0,male,2008
57,Adelie,Biscoe,40.6,18.8,193.0,3800.0,male,2008
59,Adelie,Biscoe,37.6,19.1,194.0,3750.0,male,2008
61,Adelie,Biscoe,41.3,21.1,195.0,4400.0,male,2008
63,Adelie,Biscoe,41.1,18.2,192.0,4050.0,male,2008
65,Adelie,Biscoe,41.6,18.0,192.0,3950.0,male,2008
67,Adelie,Biscoe,41.1,19.1,188.0,4100.0,male,2008
69,Adelie,Torgersen,41.8,19.4,198.0,4450.0,male,2008
71,Adelie,Torgersen,39.7,18.4,190.0,3900.0,male,2008
73,Adelie,Torgersen,45.8,18.9,197.0,4150.0,male,2008
75,Adelie,Torgersen,42.8,18.5,195.0,4250.0,male,2008
77,Adelie,Torgersen,37.2,19.4,184.0,3900.0,male,2008
79,Adelie,Torgersen,42.1,19.1,195.0,4000.0,male,2008
81,Adelie,Torgersen,42.9,17.6,196.0,4700.0,male,2008
83,Adelie,Torgersen,35.1,19.4,193.0,4200.0,male,2008
85,Adelie,Dream,41.3,20.3,194.0,3550.0,male,2008
86,Adelie,Dream,36.3,19.5,190.0,3800.0,male,2008
88,Adelie,Dream,38.3,19.2,189.0,3950.0,male,2008
91,Adelie,Dream,41.1,18.1,205.0,4300.0,male,2008
93,Adelie,Dream,39.6,18.1,186.0,4450.0,male,2008
95,Adelie,Dream,40.8,18.9,208.0,4300.0,male,2008
97,Adelie,Dream,40.3,18.5,196.0,4350.0,male,2008
99,Adelie,Dream,43.2,18.5,192.0,4100.0,male,2008
187,Gentoo,Biscoe,48.4,16.3,220.0,5400.0,male,2008
189,Gentoo,Biscoe,44.4,17.3,219.0,5250.0,male,2008
191,Gentoo,Biscoe,48.7,15.7,208.0,5350.0,male,2008
193,Gentoo,Biscoe,49.6,16.0,225.0,5700.0,male,2008
195,Gentoo,Biscoe,49.6,15.0,216.0,4750.0,male,2008
196,Gentoo,Biscoe,50.5,15.9,222.0,5550.0,male,2008
199,Gentoo,Biscoe,50.5,15.9,225.0,5400.0,male,2008
201,Gentoo,Biscoe,45.2,15.8,215.0,5300.0,male,2008
203,Gentoo,Biscoe,48.5,14.1,220.0,5300.0,male,2008
205,Gentoo,Biscoe,50.1,15.0,225.0,5000.0,male,2008
207,Gentoo,Biscoe,45.0,15.4,220.0,5050.0,male,2008
209,Gentoo,Biscoe,45.5,15.0,220.0,5000.0,male,2008
211,Gentoo,Biscoe,50.4,15.3,224.0,5550.0,male,2008
213,Gentoo,Biscoe,46.2,14.9,221.0,5300.0,male,2008
215,Gentoo,Biscoe,54.3,15.7,231.0,5650.0,male,2008
217,Gentoo,Biscoe,49.8,16.8,230.0,5700.0,male,2008
219,Gentoo,Biscoe,49.5,16.2,229.0,5800.0,male,2008
221,Gentoo,Biscoe,50.7,15.0,223.0,5550.0,male,2008
223,Gentoo,Biscoe,46.4,15.6,221.0,5000.0,male,2008
224,Gentoo,Biscoe,48.2,15.6,221.0,5100.0,male,2008
227,Gentoo,Biscoe,48.6,16.0,230.0,5800.0,male,2008
229,Gentoo,Biscoe,51.1,16.3,220.0,6000.0,male,2008
231,Gentoo,Biscoe,45.2,16.4,223.0,5950.0,male,2008
303,Chinstrap,Dream,49.5,19.0,200.0,3800.0,male,2008
305,Chinstrap,Dream,52.8,20.0,205.0,4550.0,male,2008
307,Chinstrap,Dream,54.2,20.8,201.0,4300.0,male,2008
309,Chinstrap,Dream,51.0,18.8,203.0,4100.0,male,2008
310,Chinstrap,Dream,49.7,18.6,195.0,3600.0,male,2008
313,Chinstrap,Dream,52.0,20.7,210.0,4800.0,male,2008
315,Chinstrap,Dream,53.5,19.9,205.0,4500.0,male,2008
316,Chinstrap,Dream,49.0,19.5,210.0,3950.0,male,2008
318,Chinstrap,Dream,50.9,19.1,196.0,3550.0,male,2008

In [20]:
y_2008[y_2008['sex'] == 'male'].value_counts().sum()

np.int64(57)

<h1>INSIGHT</h1>
<hr>
<h3>The total Male Penguins that been identify in year 2008 is 57. </h3>

<hr>

<h1>2. How many Female has Identify in year 2007?</h1>

In [21]:
y_2007 = Data[Data['year'] == 2007]

In [23]:
y_2007[y_2007['sex'] == 'female']

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
6,Adelie,Torgersen,38.9,17.8,181.0,3625.0,female,2007
12,Adelie,Torgersen,41.1,17.6,182.0,3200.0,female,2007
15,Adelie,Torgersen,36.6,17.8,185.0,3700.0,female,2007
16,Adelie,Torgersen,38.7,19.0,195.0,3450.0,female,2007
18,Adelie,Torgersen,34.4,18.4,184.0,3325.0,female,2007
20,Adelie,Biscoe,37.8,18.3,174.0,3400.0,female,2007
22,Adelie,Biscoe,35.9,19.2,189.0,3800.0,female,2007
25,Adelie,Biscoe,35.3,18.9,187.0,3800.0,female,2007
27,Adelie,Biscoe,40.5,17.9,187.0,3200.0,female,2007
28,Adelie,Biscoe,37.9,18.6,172.0,3150.0,female,2007
30,Adelie,Dream,39.5,16.7,178.0,3250.0,female,2007
32,Adelie,Dream,39.5,17.8,188.0,3300.0,female,2007
34,Adelie,Dream,36.4,17.0,195.0,3325.0,female,2007
37,Adelie,Dream,42.2,18.5,180.0,3550.0,female,2007
38,Adelie,Dream,37.6,19.3,181.0,3300.0,female,2007
40,Adelie,Dream,36.5,18.0,182.0,3150.0,female,2007
42,Adelie,Dream,36.0,18.5,186.0,3100.0,female,2007
44,Adelie,Dream,37.0,16.9,185.0,3000.0,female,2007
48,Adelie,Dream,36.0,17.9,190.0,3450.0,female,2007
152,Gentoo,Biscoe,46.1,13.2,211.0,4500.0,female,2007
154,Gentoo,Biscoe,48.7,14.1,210.0,4450.0,female,2007
157,Gentoo,Biscoe,46.5,13.5,210.0,4550.0,female,2007
158,Gentoo,Biscoe,45.4,14.6,211.0,4800.0,female,2007
160,Gentoo,Biscoe,43.3,13.4,209.0,4400.0,female,2007
162,Gentoo,Biscoe,40.9,13.7,214.0,4650.0,female,2007
164,Gentoo,Biscoe,45.5,13.7,214.0,4650.0,female,2007
166,Gentoo,Biscoe,45.8,14.6,210.0,4200.0,female,2007
168,Gentoo,Biscoe,42.0,13.5,210.0,4150.0,female,2007
170,Gentoo,Biscoe,46.2,14.5,209.0,4800.0,female,2007
173,Gentoo,Biscoe,45.1,14.5,215.0,5000.0,female,2007
174,Gentoo,Biscoe,46.5,14.5,213.0,4400.0,female,2007
176,Gentoo,Biscoe,42.9,13.1,215.0,5000.0,female,2007
180,Gentoo,Biscoe,48.2,14.3,210.0,4600.0,female,2007
183,Gentoo,Biscoe,42.8,14.2,209.0,4700.0,female,2007
184,Gentoo,Biscoe,45.1,14.5,207.0,5050.0,female,2007
276,Chinstrap,Dream,46.5,17.9,192.0,3500.0,female,2007
279,Chinstrap,Dream,45.4,18.7,188.0,3525.0,female,2007
281,Chinstrap,Dream,45.2,17.8,198.0,3950.0,female,2007
282,Chinstrap,Dream,46.1,18.2,178.0,3250.0,female,2007
284,Chinstrap,Dream,46.0,18.9,195.0,4150.0,female,2007
286,Chinstrap,Dream,46.6,17.8,193.0,3800.0,female,2007
288,Chinstrap,Dream,47.0,17.3,185.0,3700.0,female,2007
290,Chinstrap,Dream,45.9,17.1,190.0,3575.0,female,2007
293,Chinstrap,Dream,58.0,17.8,181.0,3700.0,female,2007
294,Chinstrap,Dream,46.4,18.6,190.0,3450.0,female,2007
296,Chinstrap,Dream,42.4,17.3,181.0,3600.0,female,2007
298,Chinstrap,Dream,43.2,16.6,187.0,2900.0,female,2007
300,Chinstrap,Dream,46.7,17.9,195.0,3300.0,female,2007

In [29]:
y_2007[y_2007['sex'] == 'female'].value_counts().sum()

np.int64(51)

<h1>INSIGHT</h1>
<hr>
<h3>The total Female Penguins in year 2007 is 51 Penguins.</h3>

<hr>

<h1>3. Which island is has a more Penguins?</h1>

In [30]:
Data['island'].unique()

array(['Torgersen', 'Biscoe', 'Dream'], dtype=object)

In [33]:
Data[Data['island'] == 'Torgersen'].value_counts().sum()

np.int64(47)

In [34]:
Data[Data['island'] == 'Biscoe'].value_counts().sum()

np.int64(163)

In [35]:
Data[Data['island'] == 'Dream'].value_counts().sum()

np.int64(123)

<h1>INSGHT</h1>
<hr>
<h3>Here's the summation is each type of island. the highest Population of Penguins is the island of 'Bescoe' total of  163 Penguins. </h3>

<hr>

<h1>4. Which Species has the lowest body_mass_g?</h1>

In [36]:
Data['species'].unique()

array(['Adelie', 'Gentoo', 'Chinstrap'], dtype=object)

In [38]:
adelie_df = Data[Data['species'] == 'Adelie']

In [39]:
adelie_df['body_mass_g'].mean()

np.float64(3700.662251655629)

In [40]:
gentoo_df = Data[Data['species'] == 'Gentoo']

In [41]:
gentoo_df['body_mass_g'].mean()

np.float64(5076.016260162602)

In [42]:
chinstrap_df = Data[Data['species'] == 'Chinstrap']

In [43]:
chinstrap_df['body_mass_g'].mean()

np.float64(3733.0882352941176)

<h1>INSIGHT</h1>
<hr>
<h3>Base on the computation Adelie species has the lowest body_mass_g in all species, The body_mass_g is '3700.66... grams'. </h3>

<hr>

<h1>5. How much is the longest bill_length_mm in the three types penguins species?</h1>

In [44]:
Data['species'].unique()

array(['Adelie', 'Gentoo', 'Chinstrap'], dtype=object)

<h4>(for this question i will use the same DataFrame on question no.4)</h4>

In [46]:
adelie_df['bill_length_mm'].mean()

np.float64(38.79139072847682)

In [47]:
gentoo_df['bill_length_mm'].mean()

np.float64(47.50487804878048)

In [48]:
chinstrap_df['bill_length_mm'].mean()

np.float64(48.83382352941177)

<h1>INSIGHT</h1>
<hr>
<h3>In the three species Chinstrap Penguins has the longest bill_leng_mm Average, in total of '48.83...mm length'.</h3>

<hr>

<h1>6. Which Year has the Highest Counts of Penguins?</h1>

In [50]:
Data['year'].unique()

array([2007, 2008, 2009])

<h4>(for this question i've done to make the year Dataframe above, so i will make one more df in year 2009)</h4>

In [65]:
y_2007.value_counts().sum()

np.int64(103)

In [63]:
y_2008.value_counts().sum()

np.int64(113)

In [57]:
y_2009 = Data[Data['year'] == 2009]

In [64]:
y_2009.value_counts().sum()

np.int64(117)

<h1>INSIGHT</h1>
<hr>
<h3>The year has been have a highest counts of penguins is Year 2009, total of 117 Penguins.</h3>

<hr>

<h1>7. In Year 2007 to 2009, How many Male penguins that Adelie species got?</h1>

<h4>(for this question i will use the all DataFrame i created.)</h4>

In [71]:
year_2007 = adelie_df[adelie_df['year'] == 2007]

In [77]:
year_2007[year_2007['sex'] == 'male'].value_counts().sum()

np.int64(22)

In [78]:
year_2008 = adelie_df[adelie_df['year'] == 2008]

In [79]:
year_2008[year_2008['sex'] == 'male'].value_counts().sum()

np.int64(25)

In [80]:
year_2009 = adelie_df[adelie_df['year'] == 2009]

In [81]:
year_2009[year_2009['sex'] == 'male'].value_counts().sum()

np.int64(26)

In [85]:
adelie_df[adelie_df['sex'] == 'male'].value_counts().sum()

np.int64(73)

<h1>INSIGHT</h1>
<hr>
<h3>Here's the summation of each year that has a Adelie Male Penguins,</h3>
<h3>In Year 2007 the total of Adelie Male Penguins is 22,</h3>
<h3>In Year 2008 the total of Adelie Male Penguins is 25,</h3>
<h3>Lastly Year 2009 total a Adelie Male Peneguins is 26.</h3>
<h3>The total of Adelie Male Penguins is 73.</h3>